* {
    margin: 0;
    padding: 0;
}

body {
    color: #1D0E0C;
    background-color: #FFF5E5;
    font-family: sans-serif;
}

header, nav, main, footer {
    display: flex;
    width: auto;
    height: auto;
}

.keret_fejlec, .keret_fo, .keret_navigacio, .keret_lablec, #cim {
    height: auto;
    margin: auto;
}

header {
    background-color: #D92243;
    height: 125px;
    border: 5px solid #1D0E0C;
    border-bottom: 2.5px solid #1D0E0C;
}

nav {
    background-color: #F69D39;
    height: 62.5px;
    border: 5px solid #1D0E0C;
    border-top: 2.5px solid #1D0E0C;
    border-bottom: 2.5px solid #1D0E0C;
}

main {
    height: 750px;
    border: 5px solid #1D0E0C;
    border-top: 2.5px solid #1D0E0C;
    border-bottom: 2.5px solid #1D0E0C;
}

footer {
    background-color: #D92243;
    height: 125px;
    border: 5px solid #1D0E0C;
    border-top: 2.5px solid #1D0E0C;
}

h1 {
    font-size: 40px;
    font-style: normal;
    text-align: center;
    letter-spacing: 3px;
}

p {
    font-size: 24px;
    text-align: center;
    letter-spacing: 1px;
}

button {
    width: 125px;
    height: 62.5px;
    color: #1D0E0C;
    background-color: #E0C375;
    font-size: 24px;
    font-family: 'Calibri';
    border: none;
    transition: .125s;
}

button:hover {
    background-color: #F1D486;
    transition: .125s;
}

button:disabled {
    color: white;
    background-color: darkgrey;
    cursor: not-allowed;
}

table {
    margin: auto;
    font-size: 20px;
    text-align: center;
    border: 2px solid #1D0E0C;
    border-spacing: 0;
}

tr {
    border: 2px solid #1D0E0C;
}

td {
    width: 110px;
    padding: 2.5px 5px;
    border: 2px solid #1D0E0C;
}

td:hover {
    cursor: default;
}

b {
    color: #D92243;
}

.keret_navigacio {
    border-left: 5px solid #1D0E0C;
    border-right: 5px solid #1D0E0C;
}

.keret_lablec {
    font-style: italic;
}

.logreg {
    width: 62.5px;
    height: 62.5px;
    margin: 0 1rem;
    padding: 0 5px;
    transition: .125s;
}

.logreg:hover {
    scale: 0.9;
    transition: .125s;
    cursor: default;
}

.cimek {
    margin: 2.5rem 0;
    text-decoration: underline #D92243;
}

#logo {
    width: 250px;
}

#bejelentkezes {
    background-image: url(./kepek/bejelentkezes.png);
}

.qm:hover, #logo:hover {
    cursor: help;
}