* {
    margin: 0;
    padding: 0;
}

body {
    color: #1D0E0C;
    background-color: #FFF5E5;
    font-family: 'Calibri';
    text-shadow: 0 0 3px #1D0E0C;
}

header, nav, main, footer {
    display: flex;
    width: auto;
    height: auto;
}

.keret_fejlec, .keret_fo, .keret_navigacio, .keret_lablec, #cim {
    height: auto;
    margin: auto;
}

header {
    background-color: #D92243;
    height: 125px;
    border: 5px solid #1D0E0C;
    border-bottom: 2.5px solid #1D0E0C;
}

nav {
    background-color: #F69D39;
    height: 62.5px;
    border: 5px solid #1D0E0C;
    border-top: 2.5px solid #1D0E0C;
    border-bottom: 2.5px solid #1D0E0C;
}

main {
    height: 750px;
    border: 5px solid #1D0E0C;
    border-top: 2.5px solid #1D0E0C;
    border-bottom: 2.5px solid #1D0E0C;
}

footer {
    background-color: #D92243;
    height: 125px;
    border: 5px solid #1D0E0C;
    border-top: 2.5px solid #1D0E0C;
}

h1 {
    font-size: 40px;
    text-align: center;
    letter-spacing: 3px;
}

p {
    font-size: 24px;
    text-align: center;
    text-shadow: 0 0 1px #1D0E0C;
    letter-spacing: 1px;
}

button {
    width: 125px;
    height: 62.5px;
    color: #1D0E0C;
    background-color: #E0C375;
    font-size: 24px;
    font-family: 'Calibri';
    text-shadow: 0 0 1px #1D0E0C;
    border: none;
    transition: .125s;
}

button:hover {
    background-color: #F1D486;
    transition: .125s;
}

.keret_navigacio {
    border-left: 5px solid #1D0E0C;
    border-right: 5px solid #1D0E0C;
}

.logreg {
    height: 62.5px;
    margin: 0 1rem;
}